In [12]:
import pandas as pd
from bs4 import BeautifulSoup as bs4
import requests as rqt

In [13]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html'

In [24]:
string = rqt.get(url).text

In [84]:
# string

In [26]:
bs = bs4(html,'html5lib') #html5lib name of the parser
print(f'bs type: {type(bs)}, html type: {type(string)}')

bs type: <class 'bs4.BeautifulSoup'>, html type: <class 'str'>

In [82]:
# get title
title = bs.find('title').text
title

'Netflix, Inc. (NFLX) Stock Historical Prices & Data - Yahoo Finance'

In [45]:
df = pd.DataFrame(columns=['Data','Open','High','Low','Close','Volume'])
# ths = bs.find('table').find_all('th')
# table_header = []
# for th in ths:
#     table_header.append(th.text)
# table_header
#or name your header like this:
# df = pd.DataFrame(columns=table_header)

In [59]:
df = df.rename(columns={'Data':'Date'}) #rename column

In [60]:
df

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [64]:
#adding data to the data frame
trs = bs.find('tbody').find_all('tr')
for tr in trs:
    td = tr.find_all('td')
#     print(td[0].text)
    date = td[0].text
    _open = td[1].text
    high = td[2].text 
    low = td[3].text
    close = td[4].text
    volume = td[5].text
    df = df.append({'Date':date,'Open':_open,'High':high,'Low':low,'Close':close,'Volume':volume},ignore_index=True)
    #we can only append a series if ignore_index=True or if the series has a name

In [65]:
df.head(10)

           Date    Open    High     Low   Close  Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21  528.21
1  May 01, 2021  512.65  518.95  478.54  502.81  502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66  521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85  538.85
5  Jan 01, 2021  539.00  593.29  485.67  532.39  532.39
6  Dec 01, 2020  492.34  545.50  491.29  540.73  540.73
7  Nov 01, 2020  478.87  518.73  463.41  490.70  490.70
8  Oct 01, 2020  506.03  572.49  472.21  475.74  475.74
9  Sep 01, 2020  532.60  557.39  458.60  500.03  500.03

In [83]:
# pd.read_html(url)
# pd.read_html(str(bs))

In [73]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [81]:
df.iloc[-1][1]

'109.35'